<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/jq/jquery.js'></script>
    <script type='text/javascript' src='/javascripts/register.js'></script>
  </head>
  <body>
	<a href='/'>홈으로 돌아가기</a></br></br>
    단어 등록하기</br>
	챕터</br><input type='text' name='chapter' id='chapter'></input></br>
	영어</br><textarea name='english' id='english'></textarea></br>
	뜻</br><textarea name='meaning' id='meaning'></textarea></br>
	<input type='button' value='등록하기' id='register_word' />
	</br></br>

	이름:</br><input type='text' name='p_name' id='p_name'></input></br>
	날짜:</br><input type='text' name='p_date' id='p_date'></input></br>
	<input type='button' value='등록하기' id='register_penalty' />
	
  </body>
</html>
