<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/jq/jquery.js'></script>
	<script type='text/javascript' src='/javascripts/audio.js'></script>
    <script type='text/javascript' src='/javascripts/get_answer.js'></script>
  </head>
  <body>
	<a href='/'>홈으로 돌아가기</a></br></br>
	<audio id="myAudio"><source src='' type='audio/mpeg'>not working</audio>
    <select id='sel9'></select>
    <input type='button' id='start_button' value='답안지 보기'></input></br></br>

    <div id='test'></div>
  </body>
</html>
