<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align='center'>
	<a href='https://goo.gl/68qbT6'>단어</a>
      <table>
        <tr><td width='300' rowspan='5'><img src='/images/gza.jpg'></td>
          <td><a class='button_style button' href="/penalty">벌금내역 조회</a></td>
        </tr>
        <tr>
          <td><a class='button_style button' href="/word_view">단어  보기</a></td>
          <td><a class='button_style button' href="/test_word">모아 보기</a></td>
          <td><a class='button_style button' href="/search">단어 검색</a></td>
          <!--
          <td><a class='button_style button' href="/make_review">복습 단어 추가</a></td>
          -->
        </tr>
        <tr>
          <td><a class='button_style button' href="/make_test">테스트 만들기</a></td>
        </tr>
        <tr>
          <td><a class='button_style button' href="/test">테스트 보기</a></td>
          <td><a class='button_style button' href="/answer">답안 보기</a></td>
        </tr>
		<tr>
          <td><a class='button_style button' href="/admin_check">관리자</a></td>
        </tr>        
      </table>
    </div>
  </body>
</html>
