<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/jq/jquery.js'></script>
    <script type='text/javascript' src='/javascripts/penalty.js'></script>
  </head>
  <body>
	<a href='/'>홈으로 돌아가기</a></br></br>
	<div id='price_total'></div>
	</br>
	<div id='price_list'></div>
  </body>
</html>
